{
    "branches": ["master"],
    "repositoryUrl": "https://github.com/SSI-Securities-Corporation/node-fctrading.git",
    "debug": "false",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# FCTrading NodeJS Client Changelog"
            }
        ],
        "@semantic-release/npm",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "package.json"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    "../fc-trading.zip"
                ],
                "message": "chore(release): set `package.json` to ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ],
    "preset": "angular"
}